nav {
  height: 120px;
  top: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

nav h3 {
  margin: 4px;
  padding: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
 }