nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  flex-direction: row;
  z-index: 2;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  padding: 1em;
  float: left;
}

.nav-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angle-double-down {
  padding-top: 0px;
  color: red;
  outline: none;
}

.logo {
  padding: 0.5em;
  font-size: 30px;
  color: white;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  outline: none;
}

.double-down {
  margin-top: 5px;
  color: red;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#compose-new {
  display: flex;
  flex-direction: column;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-7px);
  }
}

@media (max-width: 850px) {
  nav {
    background-color: #357ed1;
    background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  }
}

@media (min-width: 851px) {
  nav span  {
    color: #6699CC;
  }
}