/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* .new-tweet {
  background-color: green;
  
} */



.error {
 color: red;
}

/* .tweet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  */

.tweet {
  /* background-color: #eee; */
  /* margin: 16px;
  overflow: auto;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px; */
}

.tweet:hover {
  color: #fff;
  background: #198ed6;
}

.tweetText-btn {
  color: white;
  background-color: blue;
  padding: 2px;
}


.tweetCount {
  display: flex;
  justify-content: space-between;
}





.all-tweets-section {
  margin: 2rem 00 2rem 0;
  /* background: rebeccapurple; */
}

.tweet-component {
  padding: 0 1rem 1rem 1rem;
  border: 2px solid #48453c;
  margin: 2rem 0 0 0;
}

.image-username-refkey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(144, 141, 146); */
  margin: 2rem 0;
  padding: 0rem 1rem;
}

.image-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-username img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.tweet-content {
  margin: 4rem 0 0 0;
  padding: 0 0 1rem 0;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.time-reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-reactions i {
  color: #4056a1;
}

.time-reactions i:hover {
  color: #473e0f;
  cursor: pointer;
} 

