#new-tweet {
  width: 100%;
  margin-top: 50px;
  display: none;
}

#new-tweet {
  padding: 15px;
  background-color: #F36060;
  color: #FFFFFF;
  border-radius: 25px;
  display: none;
  text-align: center;
  margin-top: 0px;
}

#tooLong {
  border: 2px solid red;
  color: red;
  display: none;
}

#noText {
  border: 2px solid red;
  color: red;
  display: none;
}

.counter {
  margin-top: 5px;
  float: right;
  font-family: 'Bungee', sans-serif;
}

/* .negative {
  color: red;
} */

.error {
  color: red;
}


button {
  font-family: 'Bungee', cursive;
  display: inline-block;
  background-color: #4056A1;
  color: #FFFFFF;
  margin-top: 8px;
}

textarea {
  display: block;
  width: 100%;
  border: hidden;
  background-color: #F4F1EC;
  resize: none;
  color: #545149;
  border-bottom-style: solid;
  border-width: thick;
}

textarea::placeholder {
  color: #545149;
  opacity: 10;
}
