.tweet-container {
  width: 100%;
}

article.tweet {
  /* height: 220px; */
  border-style: solid;
  border-width: thick;
  color: #545149;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
}

article.tweet:hover {
  box-shadow: 5px 5px 0 #C8C8C8;
}

article.tweet header {
  height: 74px;
  display: flex;
  flex-direction: row;
  background-color: #f4f1ec;
}

article.tweet header i {
  margin-right: 20px;
  height: 30px;
  color: black;
}

article.tweet header h4 {
  color: black;
  height: 30px;
}

article.tweet header p {
  margin: 20px;
  font-size: 20px;
  color: black;
  margin-left: auto;
}

article.tweet p {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

article.tweet footer {
  height: 60px;
  border-style: none;
  border-top-style: solid;
  border-width: thick;
  color: #545149;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

article.tweet footer p {
  font-size: 15px;
  color: #545149;
  margin: 10px;
}

article.tweet footer i:hover {
  color: blue;
  cursor: pointer;
}

article.tweet footer div {
  font-size: 20px;
  color: #545149;
  margin: 15px;
  margin-left: auto;
}